* {
  padding: 0px;
  margin : 0px;
}

.language-body {
  background-color: rgb(90, 87, 87);
  width           : 20%;
  height          : 40%;
  border          : 2px solid black;
}



.language-body:hover {
  margin: 10Px;
}

.language {
  padding         : 1rem;
  background-color: rgb(100, 98, 98);
  color           : white;
  text-align      : center;
}

button {
  margin-top      : 0.3rem;
  background-color: tomato;
  color           : white;
  width           : 50%;
  padding         : 0.5rem;
  border          : none;
  border-radius   : 10px;
  font-size       : 14pt;
  outline         : none;
}

button:hover {
  background-color: white;
  color           : tomato;
  cursor          : pointer;
  width           : 70%;
}

img {
  width : 100%;
  height: 50%;
}