.main-title {
  display        : flex;
  justify-content: center;
}

.main-title p {
  color           : white;
  margin-bottom   : 40px;
  font-size       : 15pt;
  line-height     : 5rem;
  text-align      : center;
  border          : 2px solid whitesmoke;
  border-radius   : 10px;
  background-color: black;
  width           : 50%;
}

.voting-cards {
  display        : flex;
  justify-content: space-between;
}